
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/buscar">Buscar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/informacion">Información</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Modo
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Modo noche</a></li>
              <li><a class="dropdown-item" href="#">Modo normal</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <button *ngIf="!usuario" class="btn btn-outline-light" type="submit" (click)="login()">Login</button>
          <button *ngIf="usuario === 'true'" class="btn btn-outline-light" type="submit" (click)="user()">User</button>
        </form>
      </div>
    </div>
  </nav>

<router-outlet />
