<div class="container">
    <div class="row">
        <div class="col-12"><h1>SuperHero API</h1></div>
        <div class="col-12">
            <p>
                SuperHero API es una potente herramienta que te permite acceder a información detallada sobre cientos de superhéroes y villanos de distintos universos. Obtén datos como nombres reales, habilidades, poderes, apariciones en cómics, biografías y más, todo a través de una API fácil de usar.

                Ideal para desarrolladores, creadores de contenido y entusiastas de los superhéroes, esta API te ayuda a integrar información dinámica en tus proyectos, desde aplicaciones hasta páginas web y bots interactivos.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">Referencias usadas</div>
        <div class="col-6">
            <p>https://superheroapi.com/api/access-token/id
            </p>
        </div>
        <div class="col-6">
            <p>https://superheroapi.com/api/access-token/search/name</p>
        </div>
        <div class="col-12">
            <a href="https://superheroapi.com/">Saber más</a>
        </div>
    </div>
</div>
