<div class="container">
    <div class="row">
        <div class="col-12"><h1>SuperHero API</h1></div>
        <div class="col-12">
            <p>
                SuperHero API es una potente herramienta que te permite acceder a información detallada sobre cientos de superhéroes y villanos de distintos universos. Obtén datos como nombres reales, habilidades, poderes, apariciones en cómics, biografías y más, todo a través de una API fácil de usar.

                Ideal para desarrolladores, creadores de contenido y entusiastas de los superhéroes, esta API te ayuda a integrar información dinámica en tus proyectos, desde aplicaciones hasta páginas web y bots interactivos.
            </p>
            <p>
                Al no tener la web en un hosting la api no te deja utilizar llamadas desde localhost por lo que me tocó poner una url delante de la llamada que su funcion es hacerlo pasar como si fuera desde un hosting.

            </p>
            <p>Para hacer las llamadas primero tines que entrar a la web del programa para activarlo y así funcione la llamada a la api</p>
            <a href="https://cors-anywhere.herokuapp.com/corsdemo">Enlace a la web para que funciones</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12"><h3>Referencias usadas</h3></div>
        <div class="col-6">
            <h4>Llamadas a la api</h4>
            <p>Para recibir todos los datos por id: https://superheroapi.com/api/access-token/id</p>
            <p>Para recibir todos los datos de la busqueda por nombre: https://superheroapi.com/api/access-token/search/name</p>
        </div>
        <div class="col-6">
            <h4>CORS Anywhere</h4>
            <p>Para hacer uso de la api desde local: https://cors-anywhere.herokuapp.com/</p>
        </div>
        <div class="col-12">
            <a href="https://superheroapi.com/">Saber más</a>
        </div>
    </div>
</div>
