<div class="container contenido">
    <div class="row">
        <div class="col-md-12"><h1  class="titulo">HEROES Y VILLANOS</h1></div>
        <div class="col-md-12"><p class="vinyetas">
            Sumérgete en un mundo donde la justicia y el caos se enfrentan en batallas épicas. Aquí encontrarás noticias, teorías, curiosidades y análisis sobre tus héroes y villanos favoritos. Desde los cómics clásicos hasta las últimas películas y series, te mantenemos al día con todo lo relacionado con el universo de los superhéroes.

            Explora biografías, descubre historias ocultas, participa en debates y únete a una comunidad de fans apasionados. ¡Elige tu bando y prepárate para la acción!</p>
        </div>
    </div>
    <div class="row centrado">
        <div class="col-md-8"><iframe width="760" height="415" src="https://www.youtube.com/embed/nQE_w1uEJqI?si=5eZqNpReOm1n7iaG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
    </div>
</div>
